workflow.json
{
  "name": "Booking Page",
  "nodes": [
    {
      "parameters": {
        "path": "0c41acc9-33d5-467e-9182-6f39ceaa9a8e",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c0eff6c2-e8e4-40b6-9c6b-cfefd363106f",
      "name": "Booking Submit"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Booking request received\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        300,
        160
      ],
      "id": "a1b2c3d4-0001-4000-a000-000000000001",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "jsCode": "const booking = $json.body;\n\nconst subject = `New Booking Request: ${booking.name} - ${booking.date} at ${booking.time}`;\n\nconst htmlBody = `\n<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"background: #003055; color: white; padding: 20px; border-radius: 8px 8px 0 0; text-align: center;\">\n    <h1 style=\"margin: 0; font-size: 20px;\">New Booking Request</h1>\n    <p style=\"margin: 5px 0 0; opacity: 0.8; font-size: 14px;\">${booking.locationName || booking.location}</p>\n  </div>\n  <div style=\"border: 1px solid #e5e7eb; border-top: none; border-radius: 0 0 8px 8px; padding: 20px;\">\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n        <td style=\"padding: 12px 8px; font-weight: bold; color: #6b7280; width: 120px;\">Customer</td>\n        <td style=\"padding: 12px 8px; font-weight: 600;\">${booking.name}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n        <td style=\"padding: 12px 8px; font-weight: bold; color: #6b7280;\">Email</td>\n        <td style=\"padding: 12px 8px;\"><a href=\"mailto:${booking.email}\">${booking.email}</a></td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n        <td style=\"padding: 12px 8px; font-weight: bold; color: #6b7280;\">Phone</td>\n        <td style=\"padding: 12px 8px;\"><a href=\"tel:${booking.phone}\">${booking.phone}</a></td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n        <td style=\"padding: 12px 8px; font-weight: bold; color: #6b7280;\">Date</td>\n        <td style=\"padding: 12px 8px; font-weight: 600;\">${booking.date}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f3f4f6;\">\n        <td style=\"padding: 12px 8px; font-weight: bold; color: #6b7280;\">Time</td>\n        <td style=\"padding: 12px 8px; font-weight: 600;\">${booking.time}</td>\n      </tr>\n      ${booking.instructor ? `<tr style=\"border-bottom: 1px solid #f3f4f6;\"><td style=\"padding: 12px 8px; font-weight: bold; color: #6b7280;\">Instructor</td><td style=\"padding: 12px 8px;\">${booking.instructor}</td></tr>` : ''}\n      ${booking.type ? `<tr style=\"border-bottom: 1px solid #f3f4f6;\"><td style=\"padding: 12px 8px; font-weight: bold; color: #6b7280;\">Session Type</td><td style=\"padding: 12px 8px;\">${booking.type}</td></tr>` : ''}\n      ${booking.notes ? `<tr style=\"border-bottom: 1px solid #f3f4f6;\"><td style=\"padding: 12px 8px; font-weight: bold; color: #6b7280;\">Notes</td><td style=\"padding: 12px 8px;\">${booking.notes}</td></tr>` : ''}\n    </table>\n    <div style=\"margin-top: 16px; padding: 12px; background: #f8fafc; border-radius: 6px; font-size: 12px; color: #9ca3af;\">\n      <p style=\"margin: 0;\">Location: ${booking.locationName} | CRM: ${booking.crm || 'N/A'}${booking.leadId ? ` | Lead ID: ${booking.leadId}` : ''}</p>\n      <p style=\"margin: 4px 0 0;\">Submitted via Velocity AI Booking Page</p>\n    </div>\n  </div>\n</div>`;\n\nconst toEmail = booking.locationEmail || 'bjordan@velocityaipartners.ai';\n\nreturn [{ json: { toEmail, subject, htmlBody, ...booking } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        -100
      ],
      "id": "a1b2c3d4-0002-4000-a000-000000000002",
      "name": "Format Booking Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        -100
      ],
      "id": "a1b2c3d4-0003-4000-a000-000000000003",
      "name": "Send Booking Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "RmqsXSB26IzgIMJg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "path": "booking-availability",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        400
      ],
      "id": "a1b2c3d4-0004-4000-a000-000000000004",
      "name": "Get Availability",
      "webhookId": "a1b2c3d4-0004-4000-a000-000000000004"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nconst location = body.location || '';\nconst dateStr = body.date || '';\n\nconst schedules = {\n  'stretch-zone-westborough': { hours: [8,9,10,11,12,13,14,15,16,17], sat: [8,9,10,11,12,13], label: 'Stretch Session' },\n  'stretch-zone-west-boylston': { hours: [8,9,10,11,12,13,14,15,16,17], sat: [8,9,10,11,12,13], label: 'Stretch Session' },\n  'stretch-zone-dfw': { hours: [8,9,10,11,12,13,14,15,16,17], sat: [8,9,10,11,12,13], label: 'Stretch Session' },\n  'stretch-zone-baton-rouge': { hours: [8,9,10,11,12,13,14,15,16,17], sat: [8,9,10,11,12,13], label: 'Stretch Session' },\n  'stretchlab-carlsbad': { hours: [8,9,10,11,12,13,14,15,16,17], sat: [8,9,10,11,12,13], label: 'Stretch Session' },\n  'integrated-martial-arts-westborough': { hours: [9,10,11,16,17,18,19], sat: [9,10,11,12], label: 'Class' },\n  'integrated-martial-arts-worcester': { hours: [9,10,11,16,17,18,19], sat: [9,10,11,12], label: 'Class' },\n};\n\nconst schedule = schedules[location];\nif (!schedule) {\n  return [{ json: { slots: [] } }];\n}\n\nconst d = new Date(dateStr + 'T12:00:00');\nconst dayOfWeek = d.getDay();\n\nif (dayOfWeek === 0) {\n  return [{ json: { slots: [] } }];\n}\n\nconst hours = dayOfWeek === 6 ? schedule.sat : schedule.hours;\nconst slots = hours.map(h => {\n  const hour12 = h > 12 ? h - 12 : h;\n  const ampm = h >= 12 ? 'PM' : 'AM';\n  const displayHour = hour12 === 0 ? 12 : hour12;\n  return {\n    time: `${displayHour}:00 ${ampm}`,\n    type: schedule.label,\n  };\n});\n\nreturn [{ json: { slots } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        400
      ],
      "id": "a1b2c3d4-0005-4000-a000-000000000005",
      "name": "Generate Slots"
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        560,
        400
      ],
      "id": "a1b2c3d4-0006-4000-a000-000000000006",
      "name": "Return Slots"
    }
  ],
  "connections": {
    "Booking Submit": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Booking Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Booking Email": {
      "main": [
        [
          {
            "node": "Send Booking Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Availability": {
      "main": [
        [
          {
            "node": "Generate Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Slots": {
      "main": [
        [
          {
            "node": "Return Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}